.auth-card {
    width: 380px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    border-radius: 6px;
}

    .auth-card input,
    .auth-card select,
    .auth-card button {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
    }
