<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - University Activities</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        @await Html.PartialAsync("_TopNav")
    </header>

    <div class="app-container">
        <aside>
            @await Html.PartialAsync("_SideNav")
        </aside>

        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        @await Html.PartialAsync("_Footer")
    </footer>

</body>
</html>
