<ul class="side-nav">

    @if (User.IsInRole("Student"))
    {
        <li><a asp-area="Student" asp-page="/Index">Dashboard</a></li>
        <li><a asp-area="Student" asp-page="/Activities/Index">Activities</a></li>
    }

    @if (User.IsInRole("ManagementSupervisor") || User.IsInRole("SuperAdmin"))
    {
        <li><a asp-area="Admin" asp-page="/Index">Admin Dashboard</a></li>
    }

</ul>
