<nav class="top-nav">
    <img src="~/images/university-logo.png" height="40" />
    <span>University Activities System</span>

    <div class="user-info">
        @User.Identity?.Name
    </div>
</nav>
