@model (string RoleKey, int Index, int RoleId, string Title)

<div class="mb-4">
    <label class="fw-semibold mb-2">@Model.Title</label>

    <input type="hidden" name="Assignments[@Model.Index].RoleId" value="@Model.RoleId" />
    <input type="hidden" name="Assignments[@Model.Index].ActivityId" value="0" />

    <div class="chips-dropdown" data-name="Assignments[@Model.Index].UserId" data-role="@(Model.RoleId == 1 ? "coordinators" :
                                                                                               Model.RoleId == 2 ? "reviewers" :
                                                                                               "participants")">
        <div class="chips"></div>
        <div class="hidden-inputs"></div>
        <input type="text"
               class="form-control role-search"
               placeholder="Search user..." />

        <ul class="dropdown-list"></ul>
    </div>
</div>
