@using UniversityActivities.Application.DTOs.Activities
@model (  string Title ,string Color ,List<ActivityUserViewDto> Users )

<div class="col-md-4">
    <div class="card border-@Model.Color">
        <div class="card-header bg-@Model.Color text-white">
            @Model.Title
        </div>

        <div class="card-body">
            @if (Model.Users.Any())
            {
                @foreach (var user in Model.Users)
                {
                    <div class="border rounded p-2 mb-2">
                        @user.FullNameEn
                    </div>
                }
            }
            else
            {
                <span class="text-muted">No users</span>
            }
        </div>
    </div>
</div>
