@page
@model UniversityActivities.Web.Areas.Auth.Pages.RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}
<link href="~/css/areas/auth/signup.css" rel="stylesheet" />
<div class="auth-card">
    <h2>Student Sign Up</h2>

    <form method="post">
        <input asp-for="Input.FirstName" placeholder="Firstname" />
        <input asp-for="Input.MiddleName" placeholder="MiddleName" />
        <input asp-for="Input.LastName" placeholder="LastName" />
        <input asp-for="Input.UserName" placeholder="Username" />
        <input asp-for="Input.NationalId" placeholder="NationalId" />
        <input asp-for="Input.Email" placeholder="Email" />

        <input asp-for="Input.Password" type="password" placeholder="Password" />
        <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm Password" />

        <!-- Gender buttons -->
        <div>
            <label>
                <input type="radio" asp-for="Input.Gender" value="Male" /> Male
            </label>
            <label>
                <input type="radio" asp-for="Input.Gender" value="Female" /> Female
            </label>
        </div>

        <!-- Management / College -->
        <select asp-for="Input.ManagmentId">
            <option value="">Select College</option>
            @foreach (var m in Model.Managements)
            {
                <option value="@m.Id">@m.NameEn</option>
            }
        </select>

        <button type="submit">Create Account</button>

        <p>
            Already have an account?
            <a asp-area="Auth" asp-page="/Login">Login</a>
        </p>
    </form>
</div>